<div class="block w-full">
	<div class="w-full  js-media" data-id="164614">
		<div class="block aspect-ratio-16/9 relative overflow-hidden">
			<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
				<img class="w-full h-full object-cover lazyload text-white"
					data-src="uploads/Misc/Archive/Test-Content/studio-images-ny-front.jpg"
					class="w-full h-full object-cover lazyload" alt="Studio images ny front" data-id="164614" />
			</div>
			<div class="animated-background bg-gray"></div>
		</div>
	</div>
</div>