<div class="w-full md:w-1/2 gutter-x gutter-b-med copy ">
	{{ section1 | markdownify }}
	this is section1
</div>
<div class="w-full md:w-1/2 gutter-x gutter-b-med copy ">
	{{ section2 | markdownify }}
	this is section2
</div>