<div class="w-full gutter-x  flex flex-col md:flex-row items-start flex-wrap">
	<div class="w-full gutter-x md:w-1/2">




		<div class="w-full gutter-b js-media" data-id="212377">
			<div class="block aspect-ratio-3/2 relative overflow-hidden">

				<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
					<img class="w-full h-full object-cover lazyload text-white"
						data-src="https://character.co/uploads/Work/Legacy/Legacy_06_Brand_Identity.jpg"
						class="w-full h-full object-cover lazyload" alt="Legacy 06 Brand Identity" data-id="212377" />

				</div>


				<div class="animated-background bg-gray"></div>
			</div>
		</div>


	</div>
	<div class="w-full gutter-x md:w-1/2">




		<div class="w-full gutter-b js-media" data-id="212378">
			<div class="block aspect-ratio-8/9 relative overflow-hidden">

				<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
					<img class="w-full h-full object-cover lazyload text-white"
						data-src="https://character.co/uploads/Work/Legacy/Legacy_07_Brand_Identity.jpg"
						class="w-full h-full object-cover lazyload" alt="Legacy 07 Brand Identity" data-id="212378" />

				</div>


				<div class="animated-background bg-gray"></div>
			</div>
		</div>


	</div>
</div>