<div class="w-full gutter-x  flex flex-col md:flex-row-reverse flex-wrap">
	<div class="w-full gutter-x md:w-1/2">




		<div class="w-full gutter-b js-media" data-id="212380">
			<div class="block aspect-ratio-8/9 relative overflow-hidden">

				<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
					<img class="w-full h-full object-cover lazyload text-white"
						data-src="https://character.co/uploads/Work/Legacy/Legacy_09_Brand_Identity.jpg"
						class="w-full h-full object-cover lazyload" alt="Legacy 09 Brand Identity" data-id="212380" />

				</div>


				<div class="animated-background bg-gray"></div>
			</div>
		</div>


	</div>
	<div class="w-full gutter-x md:w-1/2">
		<div class="-gutter-x flex flex-row flex-wrap pt-12 lg:pt-0 pb-12 lg:pb-0 ">
			<div class="w-full sm:w-1/2 gutter-x gutter-b">
				The universal language of fatherhood.
			</div>
			<div class="w-full sm:w-1/2 gutter-x gutter-b copy">
				<p>There are very few things that connect half of the people on Earth. In fact, there’s just one thing
					that transcends every difference between any two men around the world—fatherhood. So that’s what we
					used as our anchor, letting
					all the expectations and preconceptions fall away to welcome everyone in. You don’t have to be
					ready. You don’t have to be in your 30’s. You don’t have to own a house, or be married, or drive a
					certain kind of car. You
					just have to be you, as you are, today—a man who understands just how important fatherhood is.</p>
			</div>
		</div>
	</div>
</div>