<div class="w-full gutter-x  flex flex-col md:flex-row flex-wrap">
	<div class="w-full gutter-x md:w-1/2">




		<div class="w-full gutter-b js-media" data-js-module="video" data-id="212374">
			<div class="block aspect-ratio-8/9 relative overflow-hidden">
				<div class="z-20 video-container js-video-player" data-video-id="444713250"></div>

				<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
					<img class="w-full h-full object-cover lazyload text-white"
						data-src="https://character.co/uploads/Work/Legacy/Legacy_03_Brand_Identity_Static.png"
						class="w-full h-full object-cover lazyload" alt="Legacy 03 Brand Identity Static"
						data-id="212374" />

				</div>


				<div class="animated-background bg-gray"></div>
			</div>
		</div>


	</div>
	<div class="w-full gutter-x md:w-1/2">
		<div class="-gutter-x flex flex-row flex-wrap pt-12 lg:pt-0 pb-12 lg:pb-0 ">
			<div class="w-full sm:w-1/2 gutter-x gutter-b">
				Writing the next chapter.
			</div>
			<div class="w-full sm:w-1/2 gutter-x gutter-b copy">
				<p>Asking men to come as they are means offering answers before they even know what to ask. Our logomark
					reflects this willingness to guide—a north star that allows men to chart their own paths to
					fatherhood. And it also means
					seeing them where they are, focusing on individual portraits and timelines that tell personal
					stories about each unique journey.</p>
			</div>
		</div>
	</div>
</div>