{%- comment -%} image or video {%- endcomment -%}
<div class="lg:gutter-x">
	<div class="block lg:gutter-x">




		<div class="w-full gutter-b js-media" data-js-module="video" data-id="212373">
			<div class="block aspect-ratio-16/9 relative overflow-hidden">
				<div class="z-20 video-container js-video-player" data-video-id="444713248"></div>

				<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
					<img class="w-full h-full object-cover lazyload text-white"
						data-src="https://character.co/uploads/Work/Legacy/Legacy_02_Brand_Identity_Static.jpg"
						class="w-full h-full object-cover lazyload" alt="Legacy 02 Brand Identity Static"
						data-id="212373" />

				</div>


				<div class="animated-background bg-gray"></div>
			</div>
		</div>


	</div>

</div>