<div class="w-full gutter-x flex flex-col items-end gutter-b">
	<div class="w-full gutter-x md:w-3/4 relative mb-5 md:mb-10">
		<p class="text-headline">
			<span class="inline-block md:block md:absolute md:top-0 md:left-0 md:-ml-14">&#8220;</span>
			Why is therapy worth doing? Is it just that it will make you happier? No. But it will drastically increase the depth and
			authenticity of your happiness. And it will honor the cathartic beauty of your sadness. And it will make the profoundly necessary space for every feeling in between.
			<span>&#8221;</span>
		</p>
	</div>
	<div class="w-1/2 md:w-1/4 gutter-x">
		<p>Dr, Emily Anhalt<br>Coa’s Co-founder &amp; Chief Clinical Officer</p>
	</div>
</div>