<div class="w-full flex flex-row flex-wrap gutter-x gutter-b-med gutter-t-large">
	<div class="w-full md:w-3/4 mb-5 gutter-x">
		<h2 class="text-big ">Related</h2>
	</div>
	<div class="w-1/2 md:hidden"></div>
</div>

<div class="flex flex-wrap flex-row gutter-x  w-full">
	<div class="w-full md:w-1/2 gutter-x gutter-b">
		<a href="/work/care-of" class="block w-full group">
			<div class="w-full pointer-events-none js-media" data-id="41342">
				<div class="block aspect-ratio-3/2 relative overflow-hidden">

					<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
						<img class="w-full h-full object-cover lazyload text-white"
							data-src="https://character.co/uploads/Work/CareOf/Thumbs/CareOf_Thumb_thumb_sm.jpg"
							class="w-full h-full object-cover lazyload" alt="Care Of Thumb thumb sm" data-id="41342" />

					</div>


					<div class="animated-background bg-gray"></div>
				</div>
			</div>


			<div class="aspect-ratio-6/2 relative">
				<div class="absolute left-0 right-0 top-0 flex flex-row -gutter-x gutter-t">
					<div class="w-1/2 gutter-x group-hover:underline">Care/of</div>
					<div class="w-1/2 gutter-x group-hover:underline">When it comes to vitamins, it’s always personal.
					</div>
				</div>
			</div>
		</a>
	</div>
	<div class="w-full md:w-1/2 gutter-x gutter-b">
		<a href="/work/peets" class="block w-full group">
			<div class="w-full pointer-events-none js-media" data-id="82337">
				<div class="block aspect-ratio-3/2 relative overflow-hidden">

					<div class="block absolute w-full h-full top-0 left-0 z-30 js-image ">
						<img class="w-full h-full object-cover lazyload text-white"
							data-src="https://character.co/uploads/Work/Peets/Peets_Thumb_2.gif"
							class="w-full h-full object-cover lazyload" alt="Peets Thumb 2" data-id="82337" />

					</div>


					<div class="animated-background bg-gray"></div>
				</div>
			</div>
			<div class="aspect-ratio-6/2 relative">
				<div class="absolute left-0 right-0 top-0 flex flex-row -gutter-x gutter-t">
					<div class="w-1/2 gutter-x group-hover:underline">Peet’s</div>
					<div class="w-1/2 gutter-x group-hover:underline">Refilling the cup of a ritual pioneer.</div>
				</div>
			</div>
		</a>
	</div>
</div>