---
layout: default
---
{% include module/headline.liquid %}

<div class="bg-gray w-full ">
	<div class="mb-4 md:mb-8 lg:mb-25 w-full "></div>
	
	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">Chapiter Network Co., Ltd. (referred to as “<strong>our</strong>”, “<strong>us</strong>” and “<strong>we</strong>” in this notice) is a branding and design agency. We believe that the responsible use of data supports
				business growth and builds strong relationships
				between brand and consumer. As a business, we are committed to respecting and protecting the privacy of
				all individuals with whom we interact. We are committed to being transparent in our handling and
				processing of personal data
				at all times in accordance with applicable privacy and data protection laws.</p>
			<p class="mb-8">This Privacy Notice explains in detail the types of personal data we may collect about you
				when you interact with us on any website where this Privacy Notice appears. We are the data controller
				of any personal data you provide to us,
				including in relation to this website.</p>
			<p class="mb-8">The California Consumer Privacy Act of 2018 (“CCPA”) provides California residents with
				additional rights with respect to their personal information. Those rights are explained below in
				Section 7 (Your California Rights). This Privacy
				Notice includes certain disclosures required under CCPA.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">This Privacy Notice explains the following:</h3>
			<p class="mb-8">In the <strong>Supplementary Information</strong> section of this Privacy Notice, we explain
				what is meant by “<strong>personal data</strong>”, “<strong>personal information</strong>” and other
				terms used in this notice.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">1. Information We May Collect</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">The type of information we collect will depend on the circumstances and the service you are
				using. Generally speaking, we will collect information relating to you and/or your use of our services
				in the following ways:</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Information relating to your use of the website</h3>
			<p class="mb-8">We and our third-party service providers use cookies and other tracking tools to
				automatically collect information about how you use our website. This includes information relating to
				the pages you visit on our website, the services
				or information you search for and the links and content you choose to access on our website. We may use
				this information to provide you with relevant content and to inform our marketing strategy. This type of
				activity is known
				as “profiling” – using automated means to process your personal data to analyze or predict your personal
				preferences, interest or behaviors. You may object to profiling (see Section 5 of this Notice, below)
			</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Technical data</h3>
			<p class="mb-8">We and our third-party service providers automatically collect information about the
				device(s) you use to access our website. This includes collecting information about the type of device
				you are using, as well as unique mobile device
				ID or the internet protocol (IP) address online identifiers, which are numbers that can uniquely
				identify a specific computer or other network device on the internet. This information is linked to a
				cookie ID, which we receive
				and process. You may find more information on the cookies we use and the purposes for which we use them
				on our Cookie Notice below. We also collect information about your internet service provider and domain
				name and the type of
				browser and operating system you are using.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Contact data</h3>
			<p class="mb-8">We collect contact details directly from you when you sign-up to receive email alerts,
				attend one of our events, download our content, subscribe to our newsletters or where you ask us to
				respond to a query you have. The personal data
				we collect may include your name, email address, employer and job title, and location.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Marketing and communications preferences</h3>
			<p class="mb-8">We collect information about your preferences in receiving marketing information from us and
				your communication preferences.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">2. How We Use This Information</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">Except where required by law or court order, we use your personal data for the following
				purposes:</p>
			<ul class="list-dashed">
				<li class="mb-4">to deliver the specific information or services you have requested;</li>
				<li class="mb-4">to enable the download of our content;</li>
				<li class="mb-4">to send you newsletters and advertising messages (these may contain information
					relating to our brands and services);</li>
				<li class="mb-4">respond to your requests and feedback;</li>
				<li class="mb-4">to analyze and/or improve our websites and services; and</li>
				<li class="mb-4">to protect us, our websites, customers, employees, and business partners from fraud or
					other malicious activity.</li>
			</ul>
			<p class="mb-8">In the table below we set out further information about the purposes for which we use your
				personal data and the legal basis we rely on for its use. Note that we may process your personal data
				for more than one lawful basis depending
				on the specific purpose for which we are using your data. In the second column, we also specify how such
				personal data is categorized under CCPA. For more information about the categories of personal
				information under CCPA, see
				Your California Rights.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">


		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p><strong>Purpose/Activity</strong></p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p><strong>Types of personal data that may be processed (and CCPA categories of personal
					information)</strong></p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p><strong>Lawful basis for processing including basis of legitimate interest</strong></p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To send you information about our services:</p>
			<p>- To send you information which you have requested e.g. newsletters or publications in accordance with
				your specified preferences</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name<br /></p>
			<p>(b) Email address</p>
			<p>(c) Company</p>
			<p>(d) General location</p>
			<p>(Identifiers: personal information; professional or employment related information) </p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>Where you have requested information from us, such as newsletters, publications or event invitations, we
				send such communications based on your consent.</p>
			<p>You can ask us to stop such communications at any time by clicking on the unsubscribe link at the bottom
				of the message. </p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To improve and develop our website: </p>
			<p>- We conduct statistical analysis on your usage of the website e.g. to enable us to improve our website,
				offer new features and material etc.</p>

		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Technical</p>
			<p>(b) Usage</p>
			<p>(Identifiers: internet or other similar network activity) </p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>Necessary for our legitimate interest (to define types of clients for our services, to keep our website
				updated and relevant, to develop our business and to inform our marketing strategy).</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To deliver relevant content to you, and measure or understand the effectiveness of the content we serve
				to you.</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name<br /></p>
			<p>(b) Email address</p>
			<p>(c) Company</p>
			<p>(d) General location</p>
			<p>(e) Usage</p>
			<p>(f) Marketing and communications </p>
			<p>(g) Technical</p>
			<p>(Identifiers; personal information; professional or employment related information; internet or other
				similar network activity)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>Necessary for our legitimate interests (to study how clients use our service and engage with our content.
				To develop our service, to grow our business and to inform our marketing strategy).</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>- To respond to any enquiries or feedback that you send us</p>
			<p>- To update you with any changes to our terms and conditions/other policies</p>

		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name</p>
			<p>(b) Email address</p>
			<p>(c) Company</p>
			<p>(d) General location</p>
			<p>(Identifiers; personal information; professional or employment related information)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>It is in our legitimate interest to respond to communications that you send to us, inform you of relevant
				information in relation to the services that we provide and utilize your information to improve our
				business.</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To send you information on our products and services relevant to your needs</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name<br /></p>
			<p>(b) Email address</p>
			<p>(c) General Location</p>
			<p>(d) Usage</p>
			<p>(Identifiers; personal information; internet or other similar network activity)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>It is our legitimate interests to work out which of our products or services may interest you and tell
				you about them.</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To protect this website, our company, our employees, and our users from malicious attacks, hacking,
				fraud, or other illegal or unauthorized activity</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name</p>
			<p>(b) Email address</p>
			<p>(c) General Location</p>
			<p>(d) Usage</p>
			<p>(e) Technical</p>
			<p>(Identifiers; personal information; geolocation data; internet or other similar network activity)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>It is our legitimate interests to investigate and take steps to prevent potential fraud or other
				wrongdoing.</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To share information with our service providers.</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name<br /></p>
			<p>(b) Email address</p>
			<p>(c) Usage</p>
			<p>(d) Marketing and communications</p>
			<p>(e) Technical</p>
			<p>(Identifiers; personal information ; internet or other similar network activity)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>It is our legitimate business interest to share your data with trusted third parties who provide us with
				services relevant to the provision of our website.</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To share information within the Dentsu Aegis Network group for business purposes.</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name<br /></p>
			<p>(b) Email address</p>
			<p>(c) Location</p>
			<p>(d) Usage</p>
			<p>(Identifiers; personal information; internet or other similar network activity)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>As Dentsu Aegis Network operates as a global operating media company, it is our legitimate business
				interest to share your data within the Dentsu Aegis Network group in order to manage our business
				effectively and provide our products
				and services.</p>
		</div>
		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b"></div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x gutter-b">
			<p>To share information with other third parties, such as regulator and law enforcement agencies</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b">
			<p>(a) Name<br /></p>
			<p>(b) Email address</p>
			<p>(c) Location</p>
			<p>(d) Usage</p>
			<p>(e) Technical</p>
			<p>(Identifiers; personal information; internet or other similar network activity; geolocation data)</p>
		</div>
		<div class="w-full md:w-1/4 gutter-x gutter-b mb-6 md:mb-0">
			<p>We share your data as necessary for compliance with any legal obligation to which we are subject or in
				order to satisfy our legitimate business interests.</p>
		</div>




	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">3. Information Sharing And Disclosure</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<h3 class="text-lg md:text-1xl mb-2">Information shared within the Dentsu Aegis Network</h3>
			<p class="mb-8">The Dentsu Aegis Network is a globally operating media group consisting of multiple
				companies. Therefore, we may from time to time disclose your personal data within our group of
				companies. All of the categories of personal information
				under CCPA (see Your California Rights) may be shared (and have been shared within the last 12 months)
				within our group of companies.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Information shared with our third-party service providers</h3>
			<p class="mb-8">We use a number of third parties to perform business functions on our behalf, such as
				sending our newsletters and hosting our online services and customer relationship management. We will
				disclose personal data to these vendors and
				service providers to enable them to provide their services. All of the categories of personal
				information under CCPA (see Your California Rights) may be shared (and have been shared within the last
				12 months) with our third-party
				service providers.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Information shared due to corporate mergers or restructuring</h3>
			<p class="mb-8">We may disclose personal data with any successor to all or part of our business. For
				example, if part of our business is sold, we may give our customer list as part of that transaction. All
				of the categories of personal information
				under CCPA (see Your California Rights) may be shared with any successor for this purpose.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Information shared with other parties as required by law or to
				prevent or investigate illegal activities</h3>
			<p class="mb-8">Where required or permitted by law, personal data may be provided to others, such as
				regulator and law enforcement agencies, for example in response to a court order or a subpoena, or in
				response to a law enforcement agency’s request,
				or where we believe it is necessary to investigate, prevent or take action regarding illegal activities
				or to protect us, our websites, customers, employees, and business partners from fraud or other
				malicious activity, and as
				otherwise required by law. All of the categories of personal information under CCPA (see Your California
				Rights) may be used by us or shared with other parties for these purposes.</p>
			<p class="mb-8">We may use and share personal data as otherwise disclosed to you from time to time when
				collecting your personal information or as otherwise permitted by law. All of the categories of personal
				information under CCPA (see Your California
				Rights) may be used by us or shared with other parties for these purposes.</p>
			<p class="mb-8">We do not sell or rent any personal data about you to any third party, and have not done so
				within the past 12 months.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">4. International And Group Company Transfers</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">Dentsu Aegis Network is a globally operating media group consisting of multiple companies.
				Therefore, we may from time to time disclose your personal data within our group of companies. Some of
				our group companies are located outside
				the European Union (“EU”) or European Economic Area (“EEA”), but we implement and maintain policies
				designed to ensure the security of such disclosures and transfers in accordance with the applicable
				privacy and data protection
				laws.</p>
			<p class="mb-8">If you reside in the EU or EEA, we will only transfer your personal data outside the EU or
				EEA where we are satisfied that adequate levels of protection are in place designed to protect the
				integrity and security of any information
				being processed in compliance with applicable privacy and data protection laws. These measures may
				include, as applicable, the use of standard contractual/data protection clauses adopted by the European
				Commission and where transfers
				are to the United States of America, the EU-US Privacy Shield, Swiss-US Privacy Shield or your consent.
				Where we transfer personal data between our group companies we have covered these transfers by entering
				into standard contractual
				clauses adopted by the European Commission. </p>
			<p class="mb-8">You may request further information on the measures used for such transfers via the contact
				details given in this Privacy Notice.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">5. Your Choices</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">You have certain choices about how we use your information.</p>
			<p class="mb-8">You can control cookies and tracking tools. To learn more about your choices related to
				cookies and our Do-Not-Track Policy, please see our Cookie Notice.</p>
			<p class="mb-8">You may choose not to receive marketing communications from us. You can ask us to stop such
				messages at any time by clicking on the “unsubscribe” link at the bottom of the message. Please note
				that even if you choose not to receive
				marketing communications from us, you still may receive non-marketing communications, such as responses
				to your inquiries or notices regarding your account or our relationship with you.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">6. Your EU/EEA Rights</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">Under EU data protection law we are required to advise you on the legal basis for processing
				your personal data. For the most part, the processing of your personal information is based either on a)
				our legitimate interests related
				to us providing you services you have requested or otherwise your customer relationship with us, or b)
				your consent, where requested. </p>
			<p class="mb-8">Where provided under applicable law, you may have the following rights:</p>
			<ul class="list-dashed">
				<li class="mb-4"><strong>Object to our processing </strong>of your personal data where we are relying on
					legitimate interest (or those of a third-party), and you want to object to processing on this
					ground, as you feel it impacts on your fundamental
					rights and freedoms. You also have a right to object where we are processing your personal data for
					the purposes of direct marketing or profiling. You can object at any time and we shall stop
					processing the information you
					have objected to, unless we can show compelling legitimate grounds to continue that processing.</li>
				<li class="mb-4"><strong>Access your personal data</strong>. If you make this kind of request and we
					hold personal data about you. We are required to provide you with information on it, including a
					description and copy of the personal data and
					why we are processing it. We will require you to prove your identity before granting access to your
					personal data. We will process your request within the timeframe required under the relevant law.
				</li>
				<li class="mb-4"><strong>Request the transfer of your personal data</strong>. We will provide to you or
					a third party you have chosen, your personal data in a structured, commonly used, machine-readable
					format. Please note, this right applies to
					the personal data you have provided to us; and if we use your personal data on the basis of consent
					or where we used the information to perform a contract with you.</li>
				<li class="mb-4"><strong>Request erasure (deletion) of your personal data</strong>. You have a right to
					ask us to delete or remove your data where you have successfully exercised your right to object (see
					above), or where we are required to erase
					your personal data to comply with local law. Please note, we may be required to retain certain
					information by law and/or for our own legitimate business purpose. But when we do so, we will inform
					you</li>
				<li class="mb-4"><strong>Request correction</strong> or updating of your personal data. This enables you
					to have any incomplete or inaccurate data we hold about you corrected.</li>
				<li class="mb-4"><strong>Request the restriction of our processing</strong> of your personal data in
					some situations. If you request this, we can continue to store your personal data but are restricted
					from processing it while the restriction is
					in place.</li>
				<li class="mb-4"><strong>Withdraw your consent.</strong> Where you have provided your consent to our
					processing of your personal data you can withdraw your consent at any time. If you do withdraw
					consent, that will not affect the lawfulness of
					what we have done with your personal data before you withdrew consent.</li>
				<li class="mb-4"><strong>Make a Complaint</strong>. We will do our best to resolve any complaint.
					However, if you feel we have not resolved your complaint, you have a right to make a complaint to
					your local data protection authority. For example,
					in the UK, the local data protection authority is the UK Information Commissioner's Office.</li>
			</ul>
			<p class="mb-8">If you exercise the rights above and there is any question about who you are, we may require
				you to provide information from which we can satisfy ourselves as to your identity.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">7.  Your California Rights (CCPA)</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">This section describes the rights that residents of California have and in other
				jurisdiction as provided by local law, and how to exercise such rights.</p>
			<ol class="list-decimal ml-8">
				<li class="mb-4"><strong>Right to Know about Personal Information Collected, Disclosed or Sold</strong>
					<p class="mb-8">You have the right to request that we disclose certain information to you about our
						collection, use, disclosure or sale of your personal information over the past 12 months. Once
						we receive and confirm your verifiable consumer
						request (see <em>Exercising Access and Deletion Rights</em>), and subject to certain limitations
						that we describe below, we will disclose such information. You have the right to request any or
						all of the following:</p>
					<ul class="list-dashed">
						<li class="mb-4">The categories of personal information we collected about you.</li>
						<li class="mb-4">The categories of sources from which the personal information is collected.
						</li>
						<li class="mb-4">Our business or commercial purpose for collecting or selling that personal
							information.</li>
						<li class="mb-4">The categories of third parties with whom we share that personal information.
						</li>
						<li class="mb-4">The specific pieces of personal information we collected about you (also called
							a data portability request).</li>
					</ul>
				</li>
				<li class="mb-4"><strong>Right to Request Deletion</strong>
					<p class="mb-8">You have the right to request that we delete any of your personal information that
						we collected from you and retained, subject to certain exceptions. Once we receive and confirm
						your verifiable consumer request (see <em>Exercising Access and Deletion Rights</em>),
						we will delete (and direct our service providers to delete) your personal information from our
						records. However, we may retain personal information that has been de-identified or aggregated.
						Furthermore, we may deny your
						deletion request if retaining the information is necessary for us or our service provider(s) in
						order to perform certain actions set forth under CCPA, such as detecting security incidents and
						protecting against fraudulent
						or illegal activity.</p>
				</li>
				<li class="mb-4"><strong>Exercising Access and Deletion Rights</strong>
					<p class="mb-8">Please submit a request to us by emailing us at Americas.dpo@dentsuaegis.com. You
						may also submit a request by phone at US Toll-Free Phone 1-877-570-5939</p>
					<p class="mb-8">Only you, or a person or business entity registered with the California Secretary of
						State that you authorize to act on your behalf (an “authorized agent”), may make the requests
						set forth above. You may also make a request
						on behalf of your minor child. </p>
					<p class="mb-8">The request should include your contact information and describe your request with
						sufficient detail that allows us to properly understand, evaluate, and respond to it. In
						addition, you should provide sufficient information
						(including information that reasonably enables us verify the identifying information we
						currently maintain about you) that allows us to reasonably verify that you are the person about
						whom we collected the personal information
						or an authorized representative.</p>
					<p class="mb-8">We will respond to consumer requests in a reasonably timely manner. If we require
						extra time to respond, we will inform you of the reason and extension period in writing. In
						order to protect the security of your personal information,
						we will not honor a request if we cannot verify your identity or authority to make the request
						and confirm the personal information relates to you. The method used to verify your identity
						will depend on the type, sensitivity
						and value of the information, including the risk of harm to you posed by any authorized access
						or deletion. Generally speaking, verification will be performed by matching the identifying
						information provided by you to the
						personal information that we already have. </p>
					<p class="mb-8">Any disclosures we provide will only cover the 12-month period preceding our receipt
						of your request (and will not be made more than twice in a 12-month period). If we cannot comply
						with a request, or cannot fully comply with
						a request, the response we provide will also explain the reasons we cannot comply.</p>
				</li>
				<li class="mb-4"><strong>Non-Discrimination</strong>
					<p class="mb-8">We will not discriminate against you for exercising any of your CCPA rights,
						including, but not limited to, by:</p>
					<ul class="list-dashed">
						<li class="mb-4">Denying you goods or services.</li>
						<li class="mb-4">Charging you different prices or rates for goods or services, including through
							granting discounts or other benefits, or imposing penalties.</li>
						<li class="mb-4">Providing you a different level or quality of goods or services.</li>
						<li class="mb-4">Suggesting that you may receive a different price or rate for goods or services
							or a different level or quality of goods or services.</li>
					</ul>
				</li>
			</ol>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">8. Our Responsibility For Website Links</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">This Privacy Notice is limited to the personal data collected by us. We do provide links
				within this site to other websites, including social media sites such as Facebook, Twitter and LinkedIn.
				If you follow these links, your use of
				these sites will be governed by their applicable user and privacy notices since their data practices
				fall outside the scope of this Privacy Notice. Further, we can have no responsibility for or control
				over the information collected
				by any third-party website and we cannot be responsible for the protection and privacy of any
				information which you may provide on such websites.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">9. Updates</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">This Privacy Notice may be updated from time to time to reflect changes in law, best
				practice or a change in our practices regarding the treatment of personal data. The date of the most
				recent revision will appear at the top of this
				page. If you do not agree to the changes, please do not continue to use our services and please refrain
				from sharing your personal data with us. You should check this notice frequently for updates.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">10. Children</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">This website is not intended for children aged 16 or under. We do not actively seek to
				collect personal data about children aged 16 or under. If you have any concerns about your child’s
				privacy in relation to our services, or if you
				believe that your child under the age of 16 may have entered personal data onto our website, please
				contact us at dpo@dentsuaegis.com. We will delete such personal data from our records or seek verifiable
				parental or legal guardian
				consent to retain such information within a reasonable time.</p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">11. Contact Us</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">If you have any questions about this Privacy Notice, our approach to privacy or you would
				like to exercise any of the rights mentioned in this Privacy Notice you can contact our Data Protection
				Officer in any of the following ways:</p>
			<p class="mb-8"><strong>Postal Address</strong>: </p>
			<p class="mb-8">Data Privacy Office, Dentsu Aegis Network, Legal Department</p>
			<p class="mb-8">32 Avenue of the Americas, 18<sup>th</sup> Floor</p>
			<p class="mb-8">New York, NY 10013</p>
			<p class="mb-8"><strong>Telephone </strong></p>
			<p class="mb-8">Dentsu Aegis US Privacy Office Toll Free: 1-877-570-5939</p>
			<p class="mb-8"><strong>Email</strong>: </p>
			<p class="mb-8">Americas – <a href="mailto:Americas.dpo@dentsuaegis.com"
					class="underline">Americas.dpo@dentsuaegis.com</a></p>
		</div>
	</div>

	<div class="flex flex-col md:flex-row flex-wrap w-full gutter-x  md:mb-25">

		<div class="hidden lg:block lg:w-1/4 gutter-x gutter-b">
		</div>
		<div class="w-full md:w-1/2 lg:w-1/4 gutter-x ">
			<h2 class="text-lg md:text-1xl ">Supplementary Information</h2>
		</div>
		<div class="w-full md:w-1/2 gutter-x ">
			<p class="mb-8">In this Supplementary Information section, we explain some of terminology used in this
				Privacy Notice.</p>
			<p class="mb-8"><strong>“data controller” </strong>– the person or company that controls the purposes and
				means of processing personal data.</p>
			<p class="mb-8">"<strong>personal data</strong>" – any information that relates to you (or from which you
				can be identified).</p>
			<p class="mb-8">“<strong>personal information</strong>” – information that identifies, relates to,
				describes, references, or is reasonably capable of being associated with, or could reasonably be linked,
				directly or indirectly, with a particular consumer
				or household. “Personal information” excludes information that is lawfully made available from federal,
				state or local government records as well as de-identified or aggregated information.</p>
			<p class="mb-8"><strong> “processing”</strong> – means doing anything with data. For example, it includes
				collecting it, holding it, disclosing it and deleting it.</p>
			<p class="mb-8"><strong>“profiling”</strong> - using automated means to process personal data in order to
				work out certain things about people, like analysing or predicting their performance at work,
				reliability, economic situation, personal preferences,
				interests, behaviour, location or movements.</p>
			<p class="mb-8">"<strong>transfer</strong>" – sending personal information outside the European Economic
				Area (e.g. by storing it on equipment located outside the European Economic Area), or allowing someone
				from outside the European Economic Area
				to access the personal information.</p>
			<h3 class="text-lg md:text-1xl mb-2 mt-6">Cookie Notice</h3>
			<p class="mb-8">Please read below for more information on the cookies we use, the purposes for which we use
				them, and how to reject cookies.</p>
			<h4 class="mt-6 mb-2 font-bold">How to reject cookies</h4>
			<p class="mb-8">Our Do-Not-Track Policy: If you don’t want to receive cookies, you can alter your browser
				settings. The procedure for doing so varies from one browser application to another. If you wish to
				reject cookies from our site, but wish to
				accept those from other sites, you may choose the option in your browser settings to receive a notice
				before a cookie is stored on your device. If you block or reject cookies, not all of the tracking
				described below will stop.
				Please consult the “Help” section of your browser for more information. </p>
			<p class="mb-8">To find out more or to opt out of having your online behavior collected for advertising
				purposes, please consult the following: <a href="http://www.youronlinechoices.com"
					class="underline">www.youronlinechoices.com</a> (for EU users)
				or <a href="http://optout.aboutads.info/" class="underline">http://optout.aboutads.info/</a> (for U.S.
				users). Choices you make are device-specific and browser-specific. By disabling cookies, you may be
				prevented from accessing
				some features of our site or certain content or functionality may not be available. </p>
			<h4 class="mt-6 mb-2 font-bold">How we deploy “cookies”</h4>
			<p class="mb-8">Cookies are small packets of information stored by your web browser when you visit certain
				websites, including our website. Cookies are generally used by websites to improve your user experience
				by enabling that website to ‘remember’
				you, either strictly for the duration of your visit (using a “Session” cookie which is erased when you
				close your browser) or for repeat visits (using a “Permanent” cookie). </p>
		</div>
	</div>

</div>