---
layout: default
---
{% include module/project.headline.liquid %}
<div class=" w-full gutter-b">
	{% include module/project/hero.media.liquid %}
	{% include module/project/backgroud.liquid %}
	{{ content }}
</div>
{% include module/project/related.projects.liquid %}